html, body {
    text-align: center;
}

#container {
    display: grid;
    text-align: center;
    height: 400px;
    width: 400px;
    margin: auto;
}

div {
    text-align: center;
    border: 1px solid lightgray;
}

#reset {
    margin: 0px 10px 10px 10px;
}

h1 {
    text-align: center;
    margin: 0px;
}

