#container {
    display: grid;
    height: 500px;
    width: 500px;
}

div {
    text-align: center;
    border: 1px solid grey;
}

#reset {
    margin: 10px;
}

h1 {
    text-align: center;
}

button {
    
}
